<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <main class="container-fluid">
        {{{body}}}
    </main>
</body>
</html>