<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card bg-success">
                    <h3 class="card-header">Registro Completado</h3>
                    <div class="card-body">
                        <h5 class="card-title">GPS-INFECTION</h5>
                    </div>
                    <img style="height: 100%; width: 100%; display: block;"
                        src="https://i.pinimg.com/originals/f6/af/7b/f6af7bcdc152e52d0bcc177ef2acbd8d.gif"
                        alt="Card image">
                    <div class="card-body">
                        <div class="alert alert-dismissible alert-success">
                            <p class="card-text">No olvides tomar las medidas de precaución para prevenir el
                                covid19
                            </p>
                            <a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
                                class="alert-link">Organización Mundial de la Salud</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>